<% content_for :header, 'Create User' %>

<%= form_for @user, :html => { :class => 'form-stacked' } do |f| %>
<div class="clearfix">
  <%= f.label :username %>
  <div class="input">
    <%= f.text_field :username %>
  </div>
</div>

<div class="clearfix">
  <%= f.label :password %>
  <div class="input">
    <%= f.password_field :password %>
  </div>
</div>

<div class="actions">
  <%= f.submit 'Create', :class => 'btn primary' %>
</div>
<% end %>
