<%= form_for @game, :html => { :class => 'form-stacked' } do |f| %>
<% if @game.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

    <ul>
      <% @game.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>


<div class="clearfix">
  <%= f.label :url %>
  <div class="input">
    <%= f.text_field :url %>
  </div>
</div>
<div class="actions">
  <%= f.submit "Monitor Game", :class => 'btn primary' %>
</div>
<% end %>
