<% content_for :header, "My Turns" %>

<ul id="my-turns">
  <% @my_turns.each do |game| %>
    <li class="<%= game.nickname %>"><%= link_to game.url, play_game_path(game), :method => 'post' %></li>
  <% end %>
</ul>


<div class="extra">
  <a href="#" class="show-extra">Show more</a>
  <div class="more">
  <h2>Add Game</h2>
  <%= render 'form' %>

  <h2>All Games</h2>
  <table>
    <tr>
      <th>Url</th>
      <th>My turn</th>
      <th>Ended at</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

    <% @games.each do |game| %>
      <tr>
        <td><%= game.url %></td>
        <td><%= game.my_turn %></td>
        <td><%= game.ended_at %></td>
        <td><%= link_to 'Check status', check_game_path(game), :method => 'post' %></td>
        <td><%= link_to 'Edit', edit_game_path(game) %></td>
        <td><%= link_to 'Destroy', game, confirm: 'Are you sure?', method: :delete %></td>
      </tr>
    <% end %>
  </table>
  </div>
</div>

<script type="text/javascript">
var setBubble = function(){
  Tinycon.setBubble(<%= @my_turns.length %>);
};
$(setBubble);
</script>
